* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding-left: 10px;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
  }

  nav ul {
    list-style: none;          /* remove bullets */
    margin: 0;
    padding: 0;

    display: flex;             /* lay items out in a row */
    gap: 0.75rem;              /* space between items */
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: underline;
    color: #555;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  
  nav li {
    margin-right: 0.5rem;    /* adds separation between targets */
  }
  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #contact a {
    display: inline-block;
    padding: 0.25rem 0.5rem;
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
  }